.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    margin: 80px 170px;
}

.service_title{
    position: relative;
}

.service_title h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600 ;
}

.service_title img{  
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.services_format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: .2s;
}

.service_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;

}

.services_format h3{
    font: 24px;
    font-weight: 500;
}

.services_format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(240deg, #DA7c25 -5.6%, #103 102%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services_format p{
   color: beige;
   font-size: 24px; 
   font-weight: 500;
   line-height: 40px;
   max-width: 400px;
}

.services_format:hover{
    transition: .2s;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,16,121,1) 6%, rgba(0,212,255,1) 100%);
    transform: scale(1.1);
}

.services_readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}


