.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 170px;
    gap: 80px;
}

.about_title{
    position: relative;
}

.about_title h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600 ;
}

.about_title img{  
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 100px;
}

.about_sections{
    display: flex;
    gap:80px;

}

.about_left{
    position: relative;
    top: 100px;
    width: 708px; 
    height: 300px; 
    overflow:hidden;
    border-radius: 50%;
}

.about_left img{
    position: relative;
    bottom: 10px;
    margin-bottom: -50px;
    margin-left: -75px;
    width: 450px;
    height: 450px;
}

.about_right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about_para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.about_skills{
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.about_skill{
    display: flex;
    gap:50px;
    align-items: center;
    transition: 3s;
}

.about_skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.about_skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: #00adee;

}

.about_achievements{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
}

.about_achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    transition: .5s;
}

.about_achievement h1{
    font-size: 60px;
    font-weight: 700 ;
    background: #00adee;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about_achievement p{
    font-size: 22px;
    font-weight: 500;
}

.about_skill:hover{
    transform: scale(1.05);
    transition: .3s;
}

.about_achievement:hover{
    transform: scale(1.05);
    transition: .3s;
}

@media(max-width:768px){

    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: flex-start;
    }
    .about_title h1{
        font-size: 24px;
        padding: 0;
    }

    .about img{
        width: 130px;
        right: -20px;
    }

    .about_sections{
        flex-direction: column;
    }

    .about_left{
        display: none;
    }

    .about_para{
        font-size: 12px;
        line-height: 30px;

    }

    .about_skill{
        gap: 20px;
        align-items: center;
    }

    .about_skill p{
        font-size: 18px;
    }

    .about_skill hr{
        height: 6px;
    }

    .about_achievements{
        justify-content: space-between;
    }

    .about_achievement{
        gap: 10px;
    }

    .about_achievement h1{
        font-size: 17px;
        font-weight: 600;
    }

    .about_achievement p{
        text-align: center;
        font-size: 12px;
        
    }

}