.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_top{
    display: flex;
    justify-content: space-between;

}

.footer_top_left p{
    font-size: 20px;
    max-width: 400px;
}

.footer_top_right{
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer_email_input{
    display: flex;
    gap:30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #181818;
    padding-right: 20px;
}
.footer_email_input input{
    outline: none;
    border: none;
    background: transparent;
    color: lightgray;
}
.footer_subscribe{
    font-size: 20px;
    padding: 20px 50px;
    border-radius: 50px;
    background: grey;
    cursor: pointer;
    transition: 0.2s;
}

.footer_subscribe:hover{
    background: #00adee;
    color: #F0F0F4;
    transform: scale(1.05);
}

.footer_bot{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer_bot_right{
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.footer_email_input:hover{
    border: 2px solid white;
    transition: .3s;
}

@media(max-width:768px){

    .footer{
        margin: 50px 70px;
    }

    .footer_top{
        flex-direction: column;
        gap: 50px;
    }
    .footer_bot{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}