@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0a0a0a;
    color: white;
    overflow-x: hidden;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  /* Utility to fade the bottom of images */
  .mask-image-gradient {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
}